:root {
    --textColor: orange;

}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#section {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(170deg, #ffd8d84f, #dbc7c7a5, #affcff, #77f3f700);
    display: flex;
    align-items: center;
    justify-content: center;
}
.stop-watch{
    text-align: center;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.618);
    box-shadow: 1px 1px 5px black;
    padding: 30px 10px;
    border-radius: 5px;
}

.date {
    margin: 30px 0px;
    text-align: center;
    font-size: 50px;
    font-weight: 800;
    text-shadow: 3px 3px 5px rgb(0, 0, 0);
    color: var(--textColor);
}

.clock {
    font-size: 100px;
    font-weight: 700;
    text-shadow: 3px 3px 0px rgb(255, 255, 255);
    color: var(--textColor);
}

.mybtn {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 30px 0px;
}

.mybtn>button {
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    height: 50px;
    width: 100px;
    font-size: 20px;
    text-transform: capitalize;
    box-shadow: 2px 2px 5px black;
    background-color: var(--textColor);
}
@media all and (max-width: 1000px) {
    .stop-watch{
        text-align: center;
        width: 75%;
    }
}

@media all and (max-width: 600px) {
    .stop-watch{
        text-align: center;
        width: 80%;
    }
    .date {
        margin: 20px 0px;
        font-size: 30px;
        font-weight: 700;
    }

    .clock {
        font-size: 70px;
    }

    .mybtn {
        gap: 10px;
        margin: 20px 0px;
    }

    .mybtn>button {
        padding: 8px 12px;
        height: 40px;
        width: 80px;
        font-size: 18px;
    }
}